doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome to TruAD
  body
    h1 Welcome to TruAD
    p Dear #{name},
    p Thank you for registering with TruAd. We are pleased to welcome you to our platform.
    p To complete your registration, please click on the following link to verify your email address:
    a(href=confirmationLink) Click here to verify your email address
    p By verifying your email address, you will gain full access to our platform and its features.
    p We are committed to providing you with an exceptional experience at TruAd. If you have any questions or need assistance, please don't hesitate to contact us.
    p Welcome aboard, #{name}! We look forward to partnering with you on your journey with TruAd.
    p Best regards,
    p TruAd Pvt. Ltd.